body {
  background-color: #f4f4f4 !important;
  color: #404040 !important;
}

.button-toolbar {
  border: 1px solid;
  margin-bottom: 1em;
  padding: 1em;
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top,#222,#111);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#222),to(#111));
  background-image: -webkit-linear-gradient(top,#222,#111);
  background-image: -o-linear-gradient(top,#222,#111);
  background-image: linear-gradient(to bottom,#222,#111);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
  background: #34495e;
  width: 102%;
  border-radius: 1px;
}

.main-container {
  margin: 1.5em;
}

#highlight{
  position:fixed;
  background-color:black;
  opacity:1;
  height:50px;
  width:50px;
  border-radius: 25px;
  margin: 0px;
  padding: 0px;
}

#main-canvas {
  background-image: url("../lib/waldo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  visibility: hidden;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform:scaleX(-1);
}

#main-video {
/*  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform:scaleX(-1);*/
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.black {
  background-color: black;
}
.white {
  background-color: white;
}
