  body {
    background-color: #E0F9FF !important;
    color: #404040;
  }

  #main-video {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform:scaleX(-1);
  }

  #main-canvas {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform:scaleX(-1);
  }

  #main-image {
    display: none;
  }

  .media .game-brand {
    text-align: center;
    font-size: 3em;
    height: 1em;
    padding-top: 0.5em;
    font-family: 'Electrolize', sans-serif;
    border-radius: 0.2em;
    color: #727F82;
    text-shadow: 3px 3px #ffffff;
  }

  .media .game-info {
    font-size: 1.6em;
    height: 2em;
    line-height: 1.2em;
    padding-top: 1em;
    font-weight: 300;
    background-color: rgba(168, 168, 168, 0.6);
    text-shadow: 2px 1px 1px rgb(145, 145, 145);
    border-radius: 0.4em;
    padding-left: 1.5em;
    font-family: 'Cherry Cream Soda', cursive;
    color: white;
    border: 4px dotted gray;
  }

  .media .color-palette {
    display: none;
    margin-left: 0px;
    border: 1px solid #6c615c;
    height: 3em;
    margin-bottom: -3em;
    border-top: 0.5em;
    position: relative;
    top: 3.95em;
    left: 1.83em;
    box-shadow: -1px 0px 8px;
  }

  .media .color-palette li{
    float: left;
    font-family: 'Cherry Cream Soda', cursive;
    list-style-type: none;
    width: 5.805em;
    border-right: 1px solid rgba(0,0,0,0.6);
    padding: 0.777em;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    text-shadow: 2px -1px -1px rgba(0,0,0,0.5);
    cursor: pointer;
  }

  .media .color-palette li:hover{
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
    color: rgba(0,0,0,0.9);
    text-shadow: 2px 1px 1px rgba(255,255,255,0.5);
  }

  .media .color-palette .red {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0.8)),to(rgba(172, 0, 0, 0.8)));
  }

  .media .color-palette .orange {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 112, 0, 0.8)),to(rgba(172, 48, 0, 0.8)));
  }

  .media .color-palette .yellow {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 235, 0, 0.8)),to(rgba(172, 117, 0, 0.8)));
  }

  .media .color-palette .green {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 255, 20, 0.8)),to(rgba(55, 172, 0, 0.8)));
  }

  .media .color-palette .blue {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 133, 255, 0.8)),to(rgba(0, 55, 172, 0.8)));
  }

  .media .color-palette .purple {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(102, 0, 255, 0.8)),to(rgba(28, 0, 172, 0.8)));
    border-right: 0px !important;
  }

  .media .main-video {
    padding: 1em;
    border: 1px solid white;
    margin: 4em;
    /*margin-top: 1.5em;*/
    box-shadow: -1px 3px 15px;
    background: whitesmoke;
  }

 /* CANVAS */


 .media .main-canvas {
    display: none;
    padding: 1em;
    background: whitesmoke;
    margin: 4em;
    box-shadow: -1px 3px 15px;
    z-index: 500;
  }

  .media {
    margin-top: 8em;
  }

  .media .button p {
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    border-radius: 0.4em;
    height: 1.5em;
    text-align: center;
    border: 0.1em solid rgba(255, 255, 255, 0.8);
    font-size: 2em;
    box-shadow: -3px 3px 35px;
    font-family: 'Cherry Cream Soda', cursive;
    padding-top: 0.9em;
    cursor: pointer;
  }

  .media .button p:hover {
    /*border: 3px solid rgba(0, 0, 0, 0.4);*/
    color: white;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px black;
  }

  .media .button p:active {
    border: 3px solid rgba(0, 0, 0, 0.4);
    color: white;
  }

  .media .top-margin p {
    margin-top: 2.1em !important;
  }

  .media .move-left p {
    margin: 0px 35px 30px 5px;
  }

  .media .move-right p {
    margin: 0px 5px 30px 35px;
  }

  .media .red p {
    background-color: rgba(255, 0, 0, 0.4);
  }

  .media .orange p {
    background-color: rgba(255, 71, 0, 0.4);
  }

  .media .green p {
    background-color: rgba(0, 128, 0, 0.4);
  }

  .media .yellow p {
    background-color: rgba(255, 255, 0, 0.4);
  }

  .media .span2 .blue-purple p {
    background-color: rgba(0, 0, 255, 0.4);
  }

  .media .span2 .yellow-brown p {
    background-color: rgba(255, 165, 0, 0.4);
  }


  .media .span2 .purple p {
    background-color: rgba(128, 0, 128, 0.4);
  }

  .footer {
    border: 2px solid rgba(0, 0, 0, 0.4);
    margin-top: -0.5em;
    margin-right: 1em;
    margin-left: 1em;
  }

  .footer p {
    margin-top: 1em;
  }

  .footer .corp {
    font-family: 'Cherry Cream Soda', cursive;
  }

  /* Overwrite Bootstrap */

  @media (max-width: 979px) {

    .container.navbar-wrapper {
      margin-bottom: 0;
      width: auto;
    }
    .navbar-inner {
      border-radius: 0;
      margin: -20px 0;
    }

    .featurette {
      height: auto;
      padding: 0;
    }
    .featurette-image.pull-left,
    .featurette-image.pull-right {
      display: block;
      float: none;
      max-width: 35%;
      margin: 0 auto 20px;
    }
  }


  @media (max-width: 767px) {

    .navbar-inner {
      margin: -20px;
    }

    .marketing .span4 + .span4 {
      margin-top: 40px;
    }

    .featurette-heading {
      font-size: 30px;
    }
    .featurette .lead {
      font-size: 18px;
      line-height: 1.5;
    }

  }

  /* Special class on .container surrounding .navbar, used for positioning it into place. */
  .navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 20px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }
  .navbar-wrapper .navbar {
    border-radius: 1em;
  }

  /* Remove border and change up box shadow for more contrast */
  .navbar .navbar-inner {
    border-radius: 1em;
    background-color: #F0F0FF;
    border: 0.15em solid white;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
       -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
            box-shadow: 0 2px 10px rgba(0,0,0,.25);
  }

  /* Downsize the brand/project name a bit */
  .navbar .brand {
    padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
    font-size: 3em;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    font-family: 'Reenie Beanie', cursive;
/*      font-family: 'Grand Hotel';*/
    padding-top: 20px
  }

  /* Navbar links: increase padding for taller navbar */
  .navbar .nav > li > a {
    padding: 20px 20px;
    font-family: 'Metrophobic', sans-serif;
    font-size: 1.25em;
  }

  /* Offset the responsive button for proper vertical alignment */
  .navbar .btn-navbar {
    margin-top: 10px;
  }

